@charset "UTF-8";

@media screen and (min-width:768px) and (max-width: 998px) {
    section#container {
        display: flex;
        width: 800px;
    }
    section#container #image-login {
        width: 400px;
        height: 100%;
    }
}

@media screen and (min-width: 998px) {
    section#container {
        width: 90vw;
        display: flex;
        flex-direction: row-reverse;
    }
    section#container #image-login {
        width: 400px;
        height: 100%;
    }
}